<div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="loadNextBatch()">
    <div class="flex flex-row justify-between text-xl text-gLight">
        <h2>Clips</h2>
        <h2>More Clips ></h2>
    </div>
    <ngx-masonry [options]="{ gutter: 10 }" #clips>
        <div ngxMasonryItem class="bg-gBackgroundLight border-2 border-gDark min-h-fit mb-2.5" *ngFor="let trendingResult of (trendingResults$ | async)?.images; index as i">
            <video loop [autoplay]="false" [muted]="true" (mouseover)="playVideo(i)" (mouseout)="stopVideo(i)" class="w-[171px] min-h-fit" #clipsListItems>
                <source [src]="trendingResult.preview">
            </video>
            <img class="w-12 absolute bottom-0" (click)="setFavorite(trendingResult)" src="../../assets/heart.svg" alt="heart">
        </div>
    </ngx-masonry>
    <app-loader></app-loader>
</div>
