@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";

@font-face {
    font-family: koulen;
    src: url(assets/fonts/Koulen-Regular.ttf) format("truetype");
}

@layer base {
    html {
      font-family: koulen, system-ui, sans-serif;
    }
}   

body {
    background-color: theme('colors.gBackgroundDark');
}

.carousel-arrow {
    background-color: theme('colors.gAccent') !important;
}

.is-active {
    color: theme('colors.gAccent');
}

.evolve-toast {
    background: transparent !important;
    background-color: theme('colors.gBackgroundDark') !important;
    border: solid 2px theme('colors.gAccent');

    .text-wrapper {
        font-weight: bold;
        color: theme('colors.gLight');;
    }
}