<div style="background-color: lightsalmon;">
    <p>FAVORITES</p>
    <!-- <ngx-masonry (layoutComplete)="fixLayout()" [options]="{ gutter: 10 }" #favorites> -->
    <ngx-masonry [options]="{ gutter: 10 }" #favorites>
        <div ngxMasonryItem class="bg-yellow-300 min-h-fit mb-2.5" *ngFor="let favoriteItem of (favoriteItems$ | async); index as i">
            <video *ngIf="favoriteItem.type === 'gif'; else clips" loop autoplay class="w-60 min-h-fit">
                <source [src]="favoriteItem.preview">
            </video>
            <ng-template #clips>
                <video loop [autoplay]="false" [muted]="true" (mouseover)="playVideo(i)" (mouseout)="stopVideo(i)" class="w-60 min-h-fit" #favoritesListItems>
                    <source [src]="favoriteItem.preview">
                </video>
            </ng-template>
            <img class="w-12 absolute bottom-0" (click)="removeFavorite(favoriteItem)" src="../../assets/heart.svg" alt="heart">
        </div>
    </ngx-masonry>
</div>
